/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29 ene 2024, 20:00:51
    Author     : Nelson
*/

body{
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
    padding:90px 20px 0;
}
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:90px;
    background-color: #7DCEA0;
}
.nav{
    display:flex;
    justify-content:space-between;
    max-width:100px;
    margin: 0 auto;
    list-style: none;
}
.nav-menu{
    display:flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
  background-color: #A2D9CE;
  
}
.nav-menu-link{
    font-size: 18px;
    line-height: 90px;
    width: max-content;
}
.nav-menu-link:hover{
    background-color: #82E0AA;
    transition: 0.5s;
}
.aside {
    position: fixed;
    top: 20%;
    left: 0;
    width: 20%;
    height: 75%;
    background-color: #ABEBC6;
}
.section {
    position: fixed;
    top: 20%;
    left: 20%;
    width: 80%;
    height: 75%;
    background-color: #45B39D;
    overflow-y: scroll;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #ABEBC6;
    text-align: center;
}